{% extends 'main/index.html' %}
{% block content %}
<div class="menu">
    <div class="wrap">
        <ul class="menu">
            <li><a href="{% url 'about' %}" class="active" title="">Наши услуги</a></li>
            <li><a href="{% url 'gallery' %}" class="active" title="">Галерея</a></li>
            <li><a href="{% url 'calculate' %}" class="active" title="">Калькулятор</a></li>
            <li><a href="{% url 'reviews' %}" class="active" title="">Отзывы</a></li>
            <li><a href="{% url 'contact' %}" class="active" title="">Контакты</a></li>
            <li><a href="{% url 'enter' %}" class="active" title="">Вход</a></li>
        </ul>
    </div>
</div>

<h1>О нас</h1>

{% endblock %}
