{% extends 'main/index.html' %}
{% block content %}
<div class="warning">
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>!!!</strong>{{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
</div>
<div class="about">
      <div class="tittle">
            <h1>Наши предложения</h1>
            <h2>Выбор лучших услуг нашей компании</h2>
        </div>
    <div class="about_wrap">
        {% for service in services %}
       <div class="column1">

        <div>
            <h1>{{ service.title }}</h1>
          </div>
          <div class="column1_text">
              {{ service.description|truncatechars:300 }}
         </div>
           {% if service.title == 'Ремонт квартир' %}
       <div class="more">
           <a href="{% url 'apartment_gallery' %}"><img src="{{ service.services_image.image.url }}"
                                 alt="" border="0" class="about_img" /></a>

        </div>
                <div><a href="{% url 'repair_of_apartments' %}">Перейти</a></div>
           {% else %}
                <div class="more">
           <a href="{% url 'bathroom_gallery' %}"><img src="{{ service.services_image.image.url }}"
                           alt="" border="0" class="about_img" /></a>
        </div>
           <div><a href="{% url 'renovation_bathroom' %}">Перейти</a></div>
           {% endif %}
      </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


