{% extends 'main/index.html' %}
{% block content %}
<div class="block_register">
    <div class="register_wrapper">
        <h1>Отправка данных об объекте</h1>
<h2>{{ error }}</h2>
        {{ success }}
        <form action="" method="post" enctype="multipart/form-data" class="bg authorization">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="center">
            <button class="btn">Отправить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

