{% extends 'main/index.html' %}
{% block content %}


<div class="block_register">
    <div class="register_wrapper">
      <h1>Регистрация</h1>
        <div>
            <small>{{ error }}</small>
        </div>
<form action="" method="post" class="bg">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn">Зарегистрироваться</button>
    <div class="authorization">
            <h2><a href="{% url 'loginuser' %}">Авторизация</a></h2>
        </div>
</form>

    </div>
</div>
{% endblock %}


