{% extends 'main/index.html' %}
{% block content %}
{% load static %}
<div class="warning">
{% if count >= 1 %}
    {% for message in messages %}
<div class= "alert alert-info" role="alert">
  <strong>{{ message }}!!!</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    {% endfor %}
{% endif %}
</div>

<div class="about">
    <h1>Оставить отзыв</h1>
 <div class="main_review">
<form action="{% url 'write-review' %}"  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="form_review">
    {{ field.label }}
    {{ field }}
      </div>
    {% endfor %}

  <input type="submit" value="Оставить отзыв">

    </form>
 </div>
</div>
{% endblock %}