{% extends 'main/index.html' %}
{% block content %}
{% for message in messages %}
<div class="warning">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
  <strong>!!!</strong>{{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</div>
{% endfor %}
<div class="block_register">
    <div class="register_wrapper">
<h1>Авторизация</h1>
<h2>{{ error }}</h2>

<form method="post" class="bg authorization">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="center">
        <button class="btn_self">Авторизация</button>
    </div>
       <div class="center">
    <a href="{% url 'enter' %}">Регистрация</a>
    </div>
</form>

    </div>
</div>
{% endblock %}