{% extends 'main/index.html' %}
{% block content %}
{% load static %}
<div class="warning">
{% for message in messages %}
<div class= "alert alert-success" role="alert">
  {{ message }}<strong>!!!</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
</div>
<div class="personal_account">
	<div class="main">

  <div class="name_card">
      <img src="{{ image.url }} " style="width: 100px; height: 100px" alt="">
      <div>{{ user.first_name }}</div>
      <div>{{ user.last_name }}</div>
  </div>
  <div class="contact">
	  <ul>
    <li>0901234567</li>
    <li><a href="www.google.com">Personal Page</a></li>
    <li>{{ user.email }}</li>
	  </ul>
      <input type="submit" value="Редактировать" id="edit_account">
      <a href="{% url 'delete' %}"><input type="submit" value="Удалить" class="leave_review" id="leave_review"></a>
  </div>
        {% if summa %}
                <div class="summ_container">
    <h2>Предварительная сумма</h2>
    {% for field in summa %}
    <h3>{{ field.summ }} рублей</h3>
    <h3>расчёт от {{ field.date }}</h3>
    {% endfor %}
                <form action="{% url 'delete_calculate' user.id %}" method="post">
                    {% csrf_token %}
                <input type="submit"  value="Удалить">
                </form>
    <input type="submit"  value="Отправить">
</div>
        {% else %}
        <div>
        <h3><a href="{% url 'calculate_table' %}">Рассчитать стоимость работ</a></h3>
        </div>
        {% endif %}
</div>

    <div class="edit" id="edit">
    <form action="" method="post" class="bg authorization" enctype="multipart/form-data">
        <button type="button" class="btn-close edit_close" data-bs-dismiss="alert" aria-label="Close" ></button>

        {% csrf_token %}
        {{ profile_image }}
        {% for field in form %}
        {{ field.label }}
        {{ field }}
        {% endfor %}
        <input type="submit" value="Редактировать">
    </form>

</div>
    </div>

<script src="{% static 'css/style1.js' %}"></script>
{% endblock %}