{% extends 'main/index.html' %}
{% block content %}
{% load static %}
<div class="warning">
{% for message in messages %}
<div class= "alert alert-success" role="alert">
  {{ message }}<strong>!!!</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
</div>
<div class="personal_account">
	<div class="main">

  <div class="name_card">
      <img src="{{ image.url }} " style="width: 50px; height: 50px" alt="">
      <div>{{ user.first_name }}</div>
      <div>{{ user.last_name }}</div>
  </div>
  <div class="contact">
	  <ul>
    <li>0901234567</li>
    <li><a href="www.google.com">Personal Page</a></li>
    <li>{{ user.email }}</li>
	  </ul>
      <input type="submit" value="Редактировать" id="edit_account">
      <input type="submit" value="Оставить отзыв" class="leave_review" id="leave_review">


  </div>
</div>
    <div class="edit" id="edit">
    <form action="" method="post" class="bg authorization" enctype="multipart/form-data">
        <button type="button" class="btn-close edit_close" data-bs-dismiss="alert" aria-label="Close" ></button>

        {% csrf_token %}
        {{ profile_image }}
        {% for field in form %}
        {{ field.label }}
        {{ field }}
        {% endfor %}
        <input type="submit" value="Редактировать">
    </form>

</div>
    <div class="main_review_personal" id="main_review_personal">
        <button type="button" class="btn-close" id="review_close" data-bs-dismiss="alert" aria-label="Close" ></button>
        <form action="personal_account" method="post" class="" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in review %}
            {{ field.label }}
            {{ field }}
            {% endfor %}
            <input type="submit" value="Отправить отзыв">
        </form>

    </div>



</div>

<script src="{% static 'css/style1.js' %}"></script>
{% endblock %}