{% extends 'main/index.html' %}
{% block content %}

<div class="block_register">

    <div class="register_wrapper">
        <form action="" method="post" enctype="multipart/form-data" class="bg">
                <div class="warning">
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
</div>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="center">
            <button class="btn_self">Отправить</button>
            </div>
        </form>
    </div>
</div>
 <script src="https://www.google.com/recaptcha/api.js"></script>
 <script>
   function onSubmit(token) {
     document.getElementById("demo-form").submit();
   }
 </script>
<script src="https://www.google.com/recaptcha/enterprise.js?render=6LfX_zUmAAAAANrtzBA_pW60pe6YmdX1wlNfvKvx"></script>
<script>
grecaptcha.enterprise.ready(function() {
    grecaptcha.enterprise.execute('6LfX_zUmAAAAANrtzBA_pW60pe6YmdX1wlNfvKvx', {action: 'login'}).then(function(token) {
       ...
    });
});
</script>
{% endblock %}

