{% extends 'main/index.html' %}
{% block content %}
<div class="gallery">
  <div class="gallery_wrap">
	<div class="top">
    	<ul>
            {% for image in images %}
        	<li>
                <form action="" method="get">
                <label class="custom-checkbox">
  <input type="hidden" name="alarm" value="False" />
  <input class="custom-checkbox-input" name="alarm" value="True" type="checkbox">
  <span class="custom-checkbox-text">Alarm</span>
</label>
                </form>
                <a href="#img_{{ image.id }}"><img src="{{ image.image.url }}"></a></li>
            {% endfor %}
        </ul>
            {% for image in images %}
        <a href="#_{{ image.id }}" class="lightbox trans" id="img_{{ image.id }}"> <img src="{{ image.image.url }}"></a>

            {% endfor %}
    </div>
</div>
</div>
{% endblock %}
