{% extends 'main/index.html' %}
{% load static %}
{% block content %}
<!-- hx-indicator=".htmx-indicator" -->
<div class="table_block">
    <form action="">

    <div class="search_prise">
    <input class="form-control" hx-get="/found-price/" type="search" name="search"  hx-trigger="keyup"
           hx-target="#found-price{{field.id}}"  hx-swap="outerhtml">
    </div>

    </form>

    <div id="found-price">
    </div>
    <div id="found_price_none" ></div>


<table class="title_table">
    <thead>
    <tr style="font-size: 120%">
        <th>Наименование работ</th>
        <th>Цена</th>
        <th>Ед.изм.</th>
    </tr>
    </thead>
          <tr>
            <th colspan="3" style="background: grey">Демонтаж</th>
        </tr>
    {% for field in dismantling %}
    <tr style="width: 20px;height: 40px">
        <td>{{ field.title }}</td>
        <td>{{ field.price }}</td>
        <td>{{ field.unit }}</td>
    </tr>
    {% endfor %}
              <tr>
            <th colspan="3" style="background: grey">Штукатурка</th>
        </tr>
    {% for field in plaster %}
    <tr style="width: 20px;height: 40px">
        <td>{{ field.title }}</td>
        <td>{{ field.price }}</td>
        <td>{{ field.unit }}</td>
    </tr>
    {% endfor %}
                 <tr>
            <th colspan="3" style="background: grey">Покраска</th>
        </tr>
    {% for field in painting %}
    <tr style="width: 20px;height: 40px">
        <td>{{ field.title }}</td>
        <td>{{ field.price }}</td>
        <td>{{ field.unit }}</td>
    </tr>
    {% endfor %}
                    <tr>
            <th colspan="3" style="background: grey">Шпатлёвка</th>
        </tr>
    {% for field in putty %}
    <tr style="width: 20px;height: 40px">
        <td>{{ field.title }}</td>
        <td>{{ field.price }}</td>
        <td>{{ field.unit }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}