<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <meta charset="UTF-8">
    {% if title %}
    <title>Pricing - {{ title }}</title>
    {% else %}
    <title>Pricing</title>
    {% endif %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
{% block content %}
{% block menu %}
<ul class="menu">
    {% for i in model %}
    <li><a href="{{ url_for(i.url)}}">{{ i.title }}</a></li>
    {% endfor %}
</ul>
<div class="content">
{% endblock %}
    {% if title %}
    <h1>Pricing - {{ title }}</h1>
    {% else %}
    <h1>Pricing</h1>
    {% endif %}
    {% endblock %}
</div>
{% block list_title %}
{% endblock %}
{% block news %}

{% endblock %}
<div class="dbase">
{% block data_base %}

{% endblock %}


{% block add_bd %}
{% endblock %}
{% block note %}
{% endblock %}
</div>
</body>
</html>