* {
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=PT+Sans);

html,
body {
    margin: 0;
    padding: 0;
    background-size: 100%100%;
    background-repeat: no-repeat;
    background-image: url("../images/repair.jpg");
    font-family: 'PT Sans', Arial, Verdana;
    background-color: #a3e293;
}

.title {
    width: 100%;
    height: 80px;
    background: #7bd76b;
    margin: 0;
    font-size: 120%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.prime_main {
    width: 100%;
    height: 100%;
    text-align: center;
}

.prime_menu {
    width: 100%;
    height: 100%;
    text-align: center;
}

.menu {
    height: 120px;
    background: #e2e6f5;
    text-align: center;
    margin: 0;


}

.wrap {
    height: 100%;
    text-align: center;
}

.wrap ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.wrap li {
    font-size: 140%;
    font-weight: bolder;
    list-style: none;

}

.wrap li a {
    text-decoration: none;
    color: black;
}

.footer {
    width: 100%;
    height: 120px;
    background: #98a7de;
    margin-bottom: 20px;
}

.footer_wrap {
    height: 100%;
}

.footer_wrap ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 0;
}

.about {
    width: 100%;

}


.block_register {
    height: 1100px;
    margin: 0 auto;
    margin-top: -100px;
    width: 600px;

}

.register_wrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.register_wrapper form {
    background: white;
    height: 650px;
    text-align: center;
}

.btn_self {
    background: #003366;
    color: #FFF;
}

button.btn_self {

    border-radius: 6px;
    text-align: center;
    width: 50%;
    cursor: pointer;
    border: none;

}

.btn_self:hover {
    background: #0064c9;
}


input {
    width: 100%;
    padding: 6px 10px;
    box-sizing: border-box;
    margin-top: 4px;
}

.bg {
    box-shadow: 0 2px 12px #003366;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 6px;
}

.authorization form {
    height: 500px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 800px;
    margin: auto;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.trans {
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.top {
    display: flex;
    width: 80%;
    height: 100%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
}

.top ul {
    list-style: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;
}

.top ul li {
    position: relative;
    float: left;
    width: 25%;
    height: 25%;
    overflow: hidden;
}

.top ul li::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    content: '';
    color: white;
    opacity: 0.4;
    text-align: center;
    box-sizing: border-box;
    pointer-events: none;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.top ul li:hover::before {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.90);
}

.top ul li img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}

.lightbox img {
    max-width: 120%;
    max-height: 90%;
    position: relative;
    top: -100%;
    /* Transition */
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.lightbox:target {
    outline: none;
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -ms-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    -webkit-transition: all 1.2s ease;
}

.lightbox:target img {
    top: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

/* sidebar */
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);


@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}


.main-menu:hover,
nav.main-menu.expanded {
    width: 250px;
    overflow: visible;
}

.main-menu {
    background: #212121;
    border-right: 1px solid #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    z-index: 1000;
}

.main-menu>ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #999;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;

}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #212121;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover,
a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
    color: #fff;
    background-color: #000000;
}

.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.column1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    padding: 20px;
    background: #FFF;
    box-shadow: 20px 20px 50px 10px rgb(102, 230, 123) inset;
}

.column1_text {
    text-align: justify;
}

.subbanner {
    text-align: center;
    margin-bottom: 20px;
}


.browntxt {
    color: #3B392F;
    font-weight: bold;
}

.whiteheading {
    font: 20px ZapfHumnst BT, Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
}

.about_wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
}

.about {
    text-align: center;
    margin-bottom: 70px;
    margin-top: 50px;
}


.about_img {
    width: 100%;
    height: 150px;
    margin-top: 20px;
}

.about .title {
    margin-bottom: 50px;
}

.bath_1 {
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bath_2 {
    color: green;
    font-family: 'Times New Roman', Times, serif;
}

.table_calculate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;

}

.content_calculate {
    width: 100%;
}

.wrap_calculate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

form.form_calculate {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.wrap_field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    /* padding: 10px; */
}

.content {
    display: flex;
    justify-content: center;
    align-content: center;
}

.wrap_field_form {
    width: 100%;
    height: 50%;
    background: #e5e5e5;
    box-shadow: 20px 20px 50px 10px rgb(102, 230, 123) inset;
    padding: 20px;
    padding-right: 30px;


}

input.btn_calculate {
    width: 200px;
}

/* About us */
.our_works_wrapper {
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: flex-start; */
    margin-bottom: 50px;
    background-color: #b8e994;
    margin-top: 50px;
}


.our_works_img {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

.our_works_img img {
    width: 300px;
    height: 150px;
    padding-top: 12px;
    margin-left: 0;
}

.our_works_wrapper_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
}

/* Contact */

.contact_wrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contact_block {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;

}


ul.contact_list>li {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Burger menu */
body.open,
body:after {
    overflow: hidden
}

.b-nav,
body:after {
    position: absolute;
    right: 0;
}

.b-brand,
.b-link {
    font-size: 18px;
    font-weight: 700;
    margin-left: 0;
    text-decoration: none;
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    ;
}

@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(345px, 0, 0);
        transform: translate3d(345px, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

@keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(345px, 0, 0);
        transform: translate3d(345px, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

* {
    box-sizing: border-box
}



.b-nav {
    background: rgb(102, 230, 123) none repeat scroll 0 0;
    position: absolute;
    top: 0;
    width: 320px;
    z-index: 12;
}

.b-nav:not(.open) {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft
}

.b-nav {
    animation-duration: .4s;
    animation-fill-mode: both;
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft
}

.b-nav ul {
    padding-left: 0px;
}

.b-nav li {
    color: #fff;
    list-style-type: none;
    padding: 10px 10px 10px 0;
    text-align: left;
    -webkit-transform: translateX(345px);
    -ms-transform: translateX(345px);
    transform: translateX(345px)
}

.b-nav li:not(.open) {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft
}

.b-nav li:not(.open),
.b-nav.open li {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both
}

.b-nav li:first-child {
    margin-top: 0px
}

.b-nav.open {
    visibility: visible;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}

.b-nav:not(.open) {
    visibility: hidden;
    animation-duration: 0.4s;
    animation-fill-mode: backwards;
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft
}

.b-nav.open li {
    padding-left: 30px;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft
}

.b-link {
    background: 0 0;
    border-left: rgba(255, 255, 255, 0)solid 2px;
    color: #fff;
    transition: all .4s ease;
    width: auto
}

.b-link,
.b-menu {
    -webkit-transition: all .4s ease;
}

.b-nav li {
    border-left: 5px solid #e00a12;
}



.b-menu {
    cursor: pointer;
    display: block;
    height: 66px;
    padding-top: 20px;
    position: relative;
    top: -20px;
    transition: all 0.4s ease 0s;
    width: 43px;
    z-index: 12;
    right: 10px;
}

.b-bun--bottom,
.b-bun--mid,
.b-bun--top {
    height: 2px;
    width: 25px
}

.b-container.open .b-main,
.b-menu:hover {}

.b-bun {
    background: #fff;
    transition: all .4s ease
}

.b-brand,
.b-bun {
    position: relative;
    -webkit-transition: all .4s ease
}

.b-bun--top {
    top: 0
}

.b-bun--mid {
    top: 8px
}

.b-bun--bottom {
    top: 16px
}

.b-brand {
    color: #2196f3;
    top: -21.43px;
    transition: all .4s ease;
    z-index: 13
}

.b-container {
    position: absolute;
    right: 0;
    top: 20px;
}

.b-container:hover:not(.open) .bun-bottom,
.b-container:hover:not(.open) .bun-mid,
.b-container:hover:not(.open) .bun-top {
    background: #2196f3
}

.b-container.open .b-bun--top {
    background: #e00a12;
    top: 9px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.b-container.open .b-bun--mid {
    opacity: 0
}

.b-container.open .b-bun--bottom {
    background: #e00a12;
    top: 5px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.b-container.open .b-brand {
    color: #fff
}

.mobile-search-btn {
    background-color: #e00a12;
    border-radius: 4px;
    color: #fff;
    margin-bottom: 25px;
    margin-left: 30px;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
}

.mobile-search {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #fff;
    color: #949494;
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 30px;
    padding: 10px;
    width: 80%;
}

/* Personal account */
.personal_account {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 50px;

}

.main {
    background-color: #b9dde7;
    border: solid 2px #7bd76b;
    width: 400px;
    height: 250px;
    border-radius: 8px;
    border-top-left-radius: 28px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    border-bottom: solid 1px;
    width: 90%;
    height: 60%;
    position: relative;
    margin: auto;
}

.name,
.contact {
    margin-right: 10px;
    margin-top: 10px;
}

.name li {
    list-style-type: none;

}

.name li:first-child {
    margin-top: 15px;
    text-align: center;
}

.name li:last-child {
    margin-top: 10px;
    margin-left: 30px;
}

.name span {
    font-weight: 900;
    letter-spacing: 1px;
}

.contact li {
    /*   border: solid 1px; */
    margin-bottom: 8px;
    padding-left: 10px;
}

.contact a {
    /*   color: black; */
}

.container {
    /*   border: solid 1px red; */
    position: relative;
    width: 140px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    top: 40%;
}

.circle1,
.circle2 {
    border: solid 2px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 11px;
    margin-top: 5px;
    font-size: 30px;
}

.circle1 {
    margin-left: 6%;
}

.circle2 {
    margin-right: 10%;
    margin-left: -16px;
}

.mask {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #333;
    top: 43%;
    left: 40%;
}

/* Reviews */
.c-tile-list {
    list-style: none;
    /* 1 */
    margin: 0;
    /* 1 */
    padding: 0;
    /* 1 */
    display: flex;
    /* 2 */
    flex-wrap: wrap;
    /* 2 */
}

.c-tile-list__item {
    display: flex;
    /* 1 */
    flex-direction: column;
    /* 1 */
    flex: 0 0 300px;
    /* 2 */
    margin: 10px;
    /* 3 */
}


.c-article-tile {
    display: flex;
    /* 1 */
    flex-direction: column;
    /* 1 */
    flex: 1 0 auto;
    /* 2 */
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
}

.c-article-tile a {
    color: inherit;
    text-decoration: none;
}

.c-article-tile__header,
.c-article-tile__body,
.c-article-tile__footer {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.c-article-tile__header,
.c-article-tile__footer {
    font-size: 80%;
}

.c-article-tile__header {
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid;
}

.c-article-tile__category {
    font-weight: bold;
}


.c-article-tile__comment-count {
    margin-left: auto;

}

.c-article-tile__body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.c-article-tile__title {
    margin: 0;
    color: #333;
    font-size: 150%;
}


.c-article-tile__title:not(:hover):not(:active)>a {
    color: inherit;

}


.c-article-tile__footer {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: auto;
    white-space: nowrap;
    color: #949494;
}


.c-article-tile__author {
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 5px;
}

.c-article-tile__date {
    margin-left: auto;

}



.c-article-tile.t-sass,
.c-article-tile.t-sass a {
    color: #c69;
}

.c-article-tile.t-svg,
.c-article-tile.t-svg a {
    color: #2abc67;
}

.c-article-tile.t-web,
.c-article-tile.t-web a {
    color: #2980b9;
}



.icon {
    width: 1em;
    height: 1em;
    fill: currentcolor;
    vertical-align: top;
}

.warning {
    width: 50%;
    margin: 0 auto;
}

/* edit user */
.edit {
    display: none;
    width: 30%;
    margin: 0 auto;
}

/* Feedback */
.main_review_personal {
    display: none;
    background-color: #b9dde7;
    border: solid 2px #7bd76b;
    width: 500px;
    height: 400px;
    border-radius: 8px;
    border-top-left-radius: 28px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.8);
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
}

.main_review {
    background-color: #b9dde7;
    border: solid 2px #7bd76b;
    width: 500px;
    height: 400px;
    border-radius: 8px;
    border-top-left-radius: 28px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}