* {
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=PT+Sans);

html,
body {
    margin: 0;
    padding: 0;
    background-size: 100%100%;
    background-repeat: no-repeat;
    background-image: url("../images/repair.jpg");
    font-family: 'PT Sans', Arial, Verdana;
    background-color: #a3e293;
}

.title {
    width: 100%;
    height: 80px;
    background: #7bd76b;
    margin: 0;
}

.wrap_title {
    width: 100%;
    height: 100%;

}

.menu {
    height: 120px;
    background: #e2e6f5;
    text-align: center;
    margin: 0;


}

.wrap {
    height: 100%;
    text-align: center;
}

.wrap ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.wrap li {
    font-size: 140%;
    font-weight: bolder;
    list-style: none;

}

.wrap li a {
    text-decoration: none;
    color: black;
}

.footer {
    width: 100%;
    height: 120px;
    background: #98a7de;
    margin-bottom: 20px;
}

.footer_wrap {
    height: 100%;
}

.footer_wrap ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 0;
}

.about {
    width: 100%;
    /*     height: 600px; */
}

/* .content {
    padding-bottom: 0;
    margin: 0;
    height: 800px;
} */

.block_register {
    height: 1100px;
    margin: 0 auto;
    margin-top: -100px;
    width: 600px;

}

.register_wrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.register_wrapper form {
    background: white;
    height: 650px;
    text-align: center;
}

.btn {
    background: #003366;
    color: #FFF;
}

button {

    border-radius: 6px;
    text-align: center;
    width: 50%;
    cursor: pointer;
    border: none;

}

.btn:hover {
    background: #0064c9;
}


input {
    width: 100%;
    padding: 6px 10px;
    box-sizing: border-box;
    margin-top: 4px;
}

.bg {
    box-shadow: 0 2px 12px #003366;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 6px;
}

.authorization form {
    height: 500px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 800px;
    margin: auto;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.trans {
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.top {
    display: flex;
    width: 80%;
    height: 100%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
}

.top ul {
    list-style: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;
}

.top ul li {
    position: relative;
    float: left;
    width: 25%;
    height: 25%;
    overflow: hidden;
}

.top ul li::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    content: '';
    color: white;
    opacity: 0.4;
    text-align: center;
    box-sizing: border-box;
    pointer-events: none;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.top ul li:hover::before {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.90);
}

.top ul li img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}

.lightbox img {
    max-width: 120%;
    max-height: 90%;
    position: relative;
    top: -100%;
    /* Transition */
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.lightbox:target {
    outline: none;
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -ms-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    -webkit-transition: all 1.2s ease;
}

.lightbox:target img {
    top: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

/* sidebar */
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);


@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}


.main-menu:hover,
nav.main-menu.expanded {
    width: 250px;
    overflow: visible;
}

.main-menu {
    background: #212121;
    border-right: 1px solid #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    z-index: 1000;
}

.main-menu>ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #999;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;

}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #212121;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover,
a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
    color: #fff;
    background-color: #000000;
}

.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.column1 {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    width: 400px;
    height: 500px;
    /*  float: left; */
    /* margin-right: 1px; */
    /*     margin-bottom: 100px;
    padding-bottom: 50px; */
    padding: 20px;
    background: #FFF;
    box-shadow: 20px 20px 50px 10px rgb(102, 230, 123) inset;
}

.subbanner {
    text-align: center;
    margin-bottom: 20px;
}

/* .more {
    padding: 20px 0px 0px 0px;
    text-align: right;

} */

.browntxt {
    color: #3B392F;
    font-weight: bold;
}

.whiteheading {
    font: 20px ZapfHumnst BT, Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
}

.about_wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
}

.about {
    text-align: center;
    margin-bottom: 70px;
    margin-top: 50px;
}


.about_img {
    width: 100%;
    height: 150px;
    margin-top: 20px;
}

.about .title {
    margin-bottom: 50px;
}

.bath_1 {
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bath_2 {
    color: green;
    font-family: 'Times New Roman', Times, serif;
}

.table_calculate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;

}

.content_calculate {
    width: 100%;
}

.wrap_calculate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

form.form_calculate {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.wrap_field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    /* padding: 10px; */
}

.content {
    display: flex;
    justify-content: center;
    align-content: center;
}

.wrap_field_form {
    width: 100%;
    height: 50%;
    background: #e5e5e5;
    box-shadow: 20px 20px 50px 10px rgb(102, 230, 123) inset;
    padding: 20px;
    padding-right: 30px;


}

input.btn_calculate {
    width: 200px;
}

.our_works_wrapper {
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: flex-start; */
    margin-bottom: 50px;
    background-color: #b8e994;
}


.our_works_img {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.our_works_img img {
    width: 300px;
    height: 150px;
    padding-top: 12px;
    margin-left: 0;
}

.our_works_wrapper_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
}